{
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 140
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "printWidth": 180
      }
    }
  ]
}
